/*
  acme
  werchan
  http://guhnoo.org/
*/

body {
  color: #000;
  background-color: #FFFFEA;
}


/* # Header # */
.superHeader {
  color: #FFF;
  background-color: #5AA;
}

.superHeader a {
  color: #FFF;
}

.midHeader {
  color: #274E90;
  background-color: #EAFFFF;
  border-width: 1px 0;
}

.headerTitle {
  color: #000;
  border-left: 6.91em solid #88C;
  margin-left: 0;
}

.headerTitle a {
  color: #000;
}

.subHeader {
  color: #FFF;
  background-color: #039;
}

.subHeader a {
  color: #FFF;
  text-decoration: none;
}  

.superHeader .highlight, .subHeader .highlight {
  color: #000;
}


/* # Side # */
#side-bar {
  border-right: 0;
  color: #FFFFEA;
  background-color: #99994C;
}

#side-bar div {
  border-bottom: 0;
}

li ul {
  padding-left: 1.0em !important;
}

#side-bar a {
  color: #FFFFEA;
  text-decoration: none;
  border-left: #5AA solid 0.2em;
}

.thisPage, .thisPage a {
  color: #FFFFEA!important;
  background-color: #FFF;
}

#side-bar a:hover, .thisPage a:hover {
  color: #99994C!important;
  background-color: #FFFFEA;
  border-left: #5AA solid 0.2em;
}

#side-bar .sideBarText a:hover {
  color: #99994C;
}


/* # Main Copy # */
#main-copy {
  color: #000;
  border-left: 1px solid #99994C;
}

#main-copy a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

#main-copy a:hover {
  color: #000;
  text-decoration: underline;
}

#main-copy h1, #main-copy h2 {
  color: #000;
  border-bottom: 2px solid #000;
}

#main-copy h2 {
  border-bottom: 1px solid #000;
}

#main-copy .topOfPage {
  color: #000;
}


/* # Footer # */
#footer {
  color: #FFF;
  background: #5AA;
  font-size: 91%;
  margin: 0;
  padding: 1em 2.5mm .15em 2.5mm;
  border: solid 0 #000;
  border-width: 1px 0 1px 0;
}

#footer a {
  color: #FFF;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}


/* GENERAL */

table {
  border: solid 1px #000;
}
th {
  background-color: #EAFFFF;
  border: solid 1px #000;
}
td {
  background-color: #FFFFEA;
  border: solid 1px #000;
}

hr {
  border-color: #000;
}

blockquote {
  border-left: 1px solid #5AA;
}
