/*
  gmail
  Stanley Lieber
  http://plan9.stanleylieber.com/werc/werc-propaganda/css/
*/


/* # Header # */
.superHeader {
  color: black;
  background-color: white;
}

.superHeader a {
  color: blue;
  text-decoration: underline;
}

.superHeader a:hover {
  text-decoration: underline;
}

.midHeader {
  color: black;
  background-color: #C3D9FF;
  border-width: 1px 0;
}

.headerTitle a {
  color: black;
  text-decoration: none;
}

.subHeader {
  color: black;
  background-color: gray;
}

.subHeader a {
  color: black;
  text-decoration: none;
}  

.superHeader .highlight, .subHeader .highlight {
  color: white;
}


/* # Side # */
#side-bar {
  border-right: 1px solid #DDDDDD;
}

li ul {
  padding-left: 1.0em !important;
}

#side-bar a {
  color: black;
  text-decoration: none;
  text-transform: initial;
  font-weight: bold!important;
  border-left: #DDDDDD solid 0.2em;
}

.thisPage, .thisPage a {
  color: #006F0C!important;
  background-color: #FFF1A8;
}

#side-bar a:hover {
  color: black;
  background-color: #E8EEF7;
  border-left: #C3D9FF solid 0.2em;
}

#side-bar .sideBarText a:hover {
  color: black;
}


/* # Main Copy # */
#main-copy a {
  color: blue;
  text-decoration: underline;
}

#main-copy a:hover {
  text-decoration: underline;
}

#main-copy h1, #main-copy h2 {
  color: black;
  border-bottom: 2px solid black;
}

#main-copy h2 {
  border-bottom: 1px solid black;
}

#main-copy .topOfPage {
  color: black;
}


/* # Footer # */
#footer {
  color: black;
  background: white;
  font-size: 91%;
  margin: 0;
  padding: 1em 2.5mm .15em 2.5mm;
  border: solid 0 #DDDDDD;
  border-width: 1px 0 1px 0;
}

#footer a {
  color: black;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}


/* GENERAL */

th {
  background-color: gray;
}
td {
  background-color: #FF7FA8;
}

blockquote {
  border-left: 1px solid gray;
}
